/* whole form style */
form {
    border: 3px solid #f1f1f1;
    text-align: center;
    margin: 2em 2em 2em 2em;
    padding: 2em 2em 2em 2em;
}

label {
    float: left;
}

/* styles for email and password fields */
input[type=email], input[type=password] {
    width: 100%;
    padding: 1em 1em;
    margin: 1em 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* button style */
button {
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 2em;
}

.failure {
    background-color: rgb(255, 120, 120);
}