header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

.fail {
    border: 2px solid rgb(255, 76, 76);
}

.succ {
    border: 2px solid rgb(1, 154, 11)
}

.bg-index {
    background: url("../images/home-bg.jpg") no-repeat center center;
    height: 500px;
}

.bg-image {
    background: url('../images/title.jpg') no-repeat center center;
}

.bg-post {
    background: url('../images/post-bg.jpg') no-repeat center center;
    height: 500px;
    opacity: 0.7;
}

section .padding {
    padding: 50px 0;
}

.image-padding {
    padding: 10px 10px;
}

.img-icon {
    display: block;

    max-width: 40%;
}

.hiden {
    display: none;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}