.bg-image {
    background: url('../images/title.jpg') no-repeat center center;
}

.bg-post {
    background: url('../images/post-bg.jpg') no-repeat center center;
    height: 500px;
    opacity: 0.7;
}

section .padding {
    padding: 50px 0;
}

.image-padding {
    padding: 10px 10px;
}

.op-5 {
    opacity: 0.5;
}

.op {
    opacity: 1;
}